<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="2.11.1">
  <trigger triggerOnPublish="true" />
  <xmlSiteMap enabled="false" excludeUmbracoNaviHide="true" />
  <robotsTxt enabled="true" />
  <urlRewrite enableUrlRewriting="true" forcewwwUrls="Ignore" useTrailingSlashProperty="Ignore" />
  <redirectConfig enabled="true" storeDomain="false" storeQueryString="false" forwardQuerystring="true" redirectWhenNodeExists="true" urlHistoryTracking="true" enableRedirectStats="true" />
  <documentTypeConfiguration>
    <documentType>
      <documentTypeAlias>recipe</documentTypeAlias>
      <documentTitleProperties />
      <documentDescriptionProperties />
      <defaultSocialImageProperties />
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate></openGraphTitleTemplate>
      <twittercardTitleTemplate></twittercardTitleTemplate>
      <documentTitleTemplate>[#@nodeName] | Recipes | Karan Beef</documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>newsArticle</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty></documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty></documentDescriptionProperty>
      </documentDescriptionProperties>
      <defaultSocialImageProperties>
        <defaultSocialImageProperty></defaultSocialImageProperty>
      </defaultSocialImageProperties>
      <twittercardType>summary</twittercardType>
      <openGraphTitleTemplate />
      <twittercardTitleTemplate />
      <documentTitleTemplate>[#@nodeName] | Insights | Karan Beef</documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
  </documentTypeConfiguration>
  <permissions>
    <role name="writer" allowed="issues,notifications" />
    <role name="editor" allowed="redirectmanagement,validation,ignorelist,notifications" />
  </permissions>
  <emailConfiguration />
  <rootNodeSettings>
    <rootNode>
      <nodeId>1301</nodeId>
      <canonicalDomain></canonicalDomain>
      <robotsTxt><![CDATA[# SEO Checker for Umbraco 
User-Agent: *
Disallow: /
Disallow: /DependencyHandler.axd
Disallow: /aspnet_client/
Disallow: /bin/
Disallow: /config/
Disallow: /umbraco/
Disallow: /umbraco_client/
Disallow: /usercontrols/
Disallow: /*.axd]]></robotsTxt>
      <languages />
    </rootNode>
  </rootNodeSettings>
  <validationConfig validateAltAttributesOnTemplate="false" metaDescriptionMinLength="50" metaDescriptionMaxLength="160" />
  <socialConfig>
    <enableFacebook>true</enableFacebook>
    <faceBookAppId></faceBookAppId>
    <enableTwitter>true</enableTwitter>
    <twitterAccount></twitterAccount>
    <defaultSocialImage></defaultSocialImage>
  </socialConfig>
</SEOChecker>